<div class="container-fluid mt-3 about-style" id="aboutId">
                <div class="row">
                        <div class="col-md-10 col-12 mx-auto">
                                <h1 class="text-center main-heading">About Us</h1>
                                <p class="text-center sub-heading">grow your business with us</p>
                                <div class="row">
                                     <div class="col-12 col-md-6 hero-text order-0 ">
                                          <figure>
                                                      <img class="img" src="https://raw.githubusercontent.com/thapatechnical/DynmaicWebsite/0b61a3e0df972564bd79f2174c699fdffbd7f736/images/about.svg" alt="growth-image">
                                          </figure>
                                    </div>

                                    <div class="col-12 col-md-6 hero-text order-1 d-flex flex-column justify-content-center align-items-start">
                                            <h1>We are the professional developers </h1>
                                            <p>welcome to  <span class="bold-text">Niladri's kingdom</span>.Your no.1 source for all things.</p>
                                            <button class="btn btn-primary btn-style">Read More</button>
                                    </div>
                                   
                                </div>
                        </div>
                </div>
       </div>