<section>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3680.8511993057423!2d88.44321601491318!3d22.6965825851191!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f89f2f4d8192db%3A0x8b53463b0e497142!2sSreepur%2C%20Madhyamgram%2C%20Kolkata%2C%20West%20Bengal%20700130!5e0!3m2!1sen!2sin!4v1662113576311!5m2!1sen!2sin"
     width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" 
     referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>